 # <font color = "red"> Estudo Machine Learning </font>

# Importando Bibliotecas

In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model as lm
from sklearn import model_selection as ms
from sklearn import metrics as m
from matplotlib import pyplot as plt

/home/user/.pyenv/versions/3.8.0/lib/python3.8/site-packages/pandas/compat/__init__.py:97: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

# Importando dataset

In [2]:
df = pd.read_csv("kc_house_data.csv")

In [3]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

# <font color = "green"> CICLO 1:  </font>

## Data Preparation

In [ ]:
# features
x_train = df.drop(['price', 'date'], axis = 1)

#variavel resposta
y_train = df['price'].copy()

## Model Training

In [ ]:
#descrição do modelo
model_lr = lm.LinearRegression()

#treino do modelo
model_lr.fit(x_train, y_train)

In [ ]:
#predições
pred = model_lr.predict(x_train)

## Performance do Modelo

In [ ]:
df1 = df.copy()

In [ ]:
df1['prediction'] = pred

In [ ]:
df1['error'] = df1['price'] - df1['prediction'] #calculando o erro do mocelo
df1['error_abs'] = np.abs(df1['error']) #calculando o erro absoluto (sem o sinal, pois nao é interessante)


mae = np.sum(df1['error_abs']) / len(df1['error_abs']) #calculo da média do erro absoluto
print('MAE: {}'.format(mae)) #o erro absoluto é chamado de MAE

####################################################################################

df1['error_perc'] = ((df1['price'] - df1['prediction']) / df1['price']) #calculo do erro percentual

df1['error_perc_abs'] = np.abs(df1['error_perc']) #media do erro percentual

mape = np.sum(df1['error_perc_abs']) / len(df1['error_perc_abs']) #média do erro. Em média o modelo erra 25% dos valores originais

print('MAPE: {}'.format(mape)) #média do erro percentual é chamado de MAPE

In [ ]:
df1[['id', 'price', 'prediction', 'error', 'error_abs', 'error_perc', 'error_perc_abs']].head()

# <font color = "green" > CICLO 2 </font>

## Data preparation

In [4]:
df2 = pd.read_csv("kc_house_data.csv")

In [5]:
X = df2.drop(['price', 'date'], axis = 1)
y = df2['price'].copy()

In [ ]:
x_train, x_test ,y_train, y_test  = ms.train_test_split( X, y, test_size = 0.2, random_state = 42)
#features, variavel resposta, porcentagem que eu quero no dado de treino e random para separar as mesmas linhas sempre

In [ ]:
#model description
model_lr2 = lm.LinearRegression()

#model traning
model_lr2.fit(x_train, y_train)

In [ ]:
#prediction - treining
pred_train = model_lr2.predict( x_train)

#prediction - treining
pred_test = model_lr2.predict( x_test)

## Performance Metric

In [ ]:
#Training MAE 
mae_train = m.mean_absolute_error( y_train, pred_train)
mape_train = np.mean(np.abs((y_train - pred_train) / y_train))



#Test MAE
mae_test = m.mean_absolute_error(y_test, pred_test)
mape_test = np.mean(np.abs((y_test - pred_test) / y_test))

In [ ]:
data = {'DataFrame':['training', 'test'],
       'MAE': [mae_train, mae_test],
        'MAPE': [mape_train, mape_test]}
pd.DataFrame(data)